{% extends 'base.html' %}
{% load static %}
{% block footer  %}
<!-- footer section-->
<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="/">
                    <h1 style="color: white;">CINEMANIA</h1>
                </a>
                <p>5th Avenue st, KIGALI<br>
                    Nyarugenge, NY</p>
                <p>Call us: <a href="#">(+250) 780 440 523</a></p>
            </div>
            <div class="flex-child-ft item5">
                <h4>Newsletter</h4>
                <p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
                <form action="#">
                    <input type="text" placeholder="Enter your email...">
                </form>
                <a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- end of footer section-->
{% endblock %}